<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fridge – Home page</title>
</head>
<body>
    <nav>
      <a href="/sk">Slovak</a> | <a href="/en">English</a> | <a href="/cz">Czech</a>
    </nav>

    <nav>
    <a href="/sk/about">O projekte (SK)</a> |
    <a href="/en/about">About (EN)</a> |
    <a href="/cz/about">O projektu(CZ)</a> |
    <a href="/sk/items">Položky (SK)</a> |
    <a href="/en/items">Items (EN)</a> |
    <a href="/cz/items">Položky (CZ)</a> |
    <a href="/logout">Logout</a>
    </nav>
    <hr>

    <h1>Welcome to the fridge management app!</h1>
    <p>This website is beginning of my future app. 😊</p>
</body>
</html>