<!doctype html>
<html lang="cz">
<head>
    <meta charset="UTF-8">
    <title>Lednice – Domovská stránka </title>
</head>
<body>
    <nav>
      <a href="/sk">Slovensky</a> | <a href="/en">English</a> | <a href="/cz">Česky</a>
    </nav>

    <nav>
    <a href="/sk/about">O projekte (SK)</a> |
    <a href="/en/about">About (EN)</a> |
    <a href="/cz/about">O projektu(CZ)</a> |
    <a href="/sk/items">Položky (SK)</a> |
    <a href="/en/items">Items (EN)</a> |
    <a href="/cz/items">Položky (CZ)</a> |
    </nav>
    <hr>
    <h1>Vítejte v aplikaci pro správu ledničky!</h1>
    <p>Tato webová stránka je začátkem mé budoucí aplikace 😊</p>
</body>
</html>