<!doctype html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Nové heslo</title>
</head>
<body>
    <h1>Nastav si nové heslo</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.password.label }} {{ form.password() }}</p>
        <p>{{ form.confirm_password.label }} {{ form.confirm_password() }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
        {% for category, message in messages %}
          <li><strong>{{ category }}:</strong> {{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>